
:root{
  --rubyRed: hsl(1, 67%, 35%);
  --corn: hsl(58,77%,59%);
  --blueGreen: hsl(183,65%,24%);
  --orange: hsl(20,100%,60%);
  --violet: hsl(253,57%,10%);
}

.App {
 background-color: var(--violet);
 min-height: 100vh;
}

.navbar{
  padding-left: 15px;
}

.content{
  margin: 70px 20px 20px 20px;
}

.movies{
 color: whitesmoke
}

.marker{
 
 
}

.cardContainerDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

/* Home */
.movieSearchDiv{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}


/* Card */

/* .cardOutDiv{
  position: relative;
  padding: .5rem;
  width: 50%;
  min-height: 15vh;
  margin: 1rem 1rem;
  background-color: hsl(253,57%,50%);
  text-align: center;
  color: whitesmoke;

} */

.detailButtonDiv{
  cursor: pointer;    
  color: var(--corn)
}
/* .cardInDiv{
  opacity: 1.0;
  background-color: red;
  height: 100%;
} */

.cardNameDiv{

  text-decoration: none;
  font-size: bolder;
  text-transform: uppercase;
  color: white
}

.addRevButton{
 position: absolute;
 right: 5px;
bottom: 5px;
cursor: pointer;
}

/* details--------------- */
.detailsDiv{
  color: whitesmoke
}